body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('wallpaper.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Changed height to 100vh */
}

.container {
    width: 90%;
    max-width: 500px;
    box-sizing: border-box;
}

.container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Login Page Styles */
#login-container .input-button-wrapper {
    display: flex;
    justify-content: center;
}

#login-container .input-container {
    position: relative;
    top: 80%;
    flex-grow: 1;
    margin-right: 10px;
}

#login-container input[type="text"] {
    width: 100%;
    padding: 12px 10px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

#login-container input[type="text"]:focus {
    border-color: #23a6d5;
}

#login-container input[type="text"]::placeholder {
    color: #aaa;
    transition: transform 0.5s, font-size 0.5s;
}

#login-container input[type="text"]:focus::placeholder {
    transform: translate(-10px, -30px);
    font-size: 0.8em;
}

#login-container .input-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #aaa;
    pointer-events: none;
    transition: all 0.3s;
    background-color: transparent;
    padding: 0 5px;
}

#login-container input[type="text"]:focus+.input-label,
#login-container input[type="text"]:not(:placeholder-shown)+.input-label {
    top: -10px;
    left: 40px;
    font-size: 0.75em;
    color: #23a6d5;
    background-color: #fff;
}

/* Friends Page Styles */
#friend-search {
    width: 100%;
    padding: 12px 10px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s;
    margin-bottom: 10px; /* Add some bottom margin to match the design */
}

#friend-search:focus {
    border-color: #23a6d5;
}

#friend-search::placeholder {
    color: #aaa;
    transition: transform 0.5s, font-size 0.5s;
}

#friend-search:focus::placeholder {
    transform: translate(-10px, -30px);
    font-size: 0.8em;
}


.animated-text {
    font-size: 2em;
    animation: textColor 5s ease infinite;
}

button {
    padding: 10px;
    font-size: 1em;
    white-space: nowrap;
    background-color: #23a6d5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #40ff80;
}

p {
    font-size: 1em;
    color: red;
}

/* Home Page Styles */
#home-container .navbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: rgb(93 219 245 / 18%);
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgb(76 255 60 / 37%);
    border: 2px solid rgb(56 240 57 / 18%);
    padding: 10px 0;
}

#home-container .navbar button {
    background: none;
    border: none;
    color: rgb(24, 9, 9);
    font-size: 1em;
    cursor: pointer;
}

#home-container #content {
    padding: 20px;
}

/* Profile Page Styles */
.profile-container {
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 80%;
    border: 2px solid #296a99;
    border-radius: 20px;
    overflow: hidden;
}

.profile-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
}

.profile-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 200px;
    margin-left: 15px;
    border: 4px solid white;
    background-color: white;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-details {
    margin-top: 15px;
    text-align: left;
}

.profile-username {
    font-size: 1.5em;
    color: #ff7373;
    font-weight: bold;
}

.profile-handle {
    color: #1d6fb3;
    margin: 5px 0;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .profile-header {
        height: 150px;
    }

    .profile-image {
        width: 100px;
        height: 100px;
        margin-top: -50px;
    }

    .profile-username {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .profile-header {
        height: 100px;
    }

    .profile-image {
        width: 80px;
        height: 80px;
        margin-top: -40px;
    }

    .profile-username {
        font-size: 1em;
    }
}



/* Games Page Styles */
.games-container {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 100px); /* Adjusted max-height to fit screen */
    overflow-y: scroll;
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.games-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.games-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.game-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Notification Styles */
.notification {
    display: none;
    border-radius: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #d57c7c;
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Text Animation Keyframes */
@keyframes textColor {
    0% {
        color: #23d5ab;
    }
    25% {
        color: #23a6d5;
    }
    50% {
        color: #e73c7e;
    }
    75% {
        color: #ee7752;
    }
    100% {
        color: #23d5ab;
    }
}
